doctype html
html
  head
    title= 'LITTER'
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
  body.tausta
    div.container-fluid
      div.col-sm-1
        a.link(href="/").link-color LOGIN
      div.col-sm-1
        a.link(href="/posts").link-color POSTS 
      div.col-sm-1
        a.link(href="/user").link-color USER

      div(class="jumbotron text-center")#title-container
        h1 LITTER
        h2 Logged in as #{username}
      
      block content
